<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>borrarProveedor</servlet-name>
        <servlet-class>Servlet.borrarProveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarProveedor</servlet-name>
        <servlet-class>Servlet.actualizarProveedor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarProveedor</servlet-name>
        <url-pattern>/borrarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarProveedor</servlet-name>
        <url-pattern>/actualizarProveedor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>borrarProducto</servlet-name>
        <servlet-class>Servlet.borrarProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarProducto</servlet-name>
        <servlet-class>Servlet.actualizarProducto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarProducto</servlet-name>
        <url-pattern>/borrarProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarProducto</servlet-name>
        <url-pattern>/actualizarProducto</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>borrarCategoria</servlet-name>
        <servlet-class>Servlet.borrarCategoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarCategoria</servlet-name>
        <servlet-class>Servlet.actualizarCategoria</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarCategoria</servlet-name>
        <url-pattern>/borrarCategoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarCategoria</servlet-name>
        <url-pattern>/actualizarCategoria</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>borrarLinea</servlet-name>
        <servlet-class>Servlet.borrarLinea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarLinea</servlet-name>
        <servlet-class>Servlet.actualizarLinea</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarLinea</servlet-name>
        <url-pattern>/borrarLinea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarLinea</servlet-name>
        <url-pattern>/actualizarLinea</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>borrarMarca</servlet-name>
        <servlet-class>Servlet.borrarMarca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarMarca</servlet-name>
        <servlet-class>Servlet.actualizarMarca</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarMarca</servlet-name>
        <url-pattern>/borrarMarca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarMarca</servlet-name>
        <url-pattern>/actualizarMarca</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>borrarUnidadMedida</servlet-name>
        <servlet-class>Servlet.borrarUnidadMedida</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarUnidadMedida</servlet-name>
        <servlet-class>Servlet.actualizarUnidadMedida</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>borrarUnidadMedida</servlet-name>
        <url-pattern>/borrarUnidadMedida</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarUnidadMedida</servlet-name>
        <url-pattern>/actualizarUnidadMedida</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
